<header>
  <nav class="navbar">
    <div class="container">
      <div class="logo">
        <img src="assets/yt.png" alt="Logo">
        AwakTube
      </div>
      <ul class="nav-links">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/search" routerLinkActive="active">Search</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      </ul>
    </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
